<li class="col-md-4">
    <div class="testimonial">
        <figure class="float-left">
            <img class="rounded" src="{{ app_path_kitty_images }}/{{ quote.kitty.image }}" alt="{{ quote.kitty.name }}">
        </figure>
        <div class="testimonial-content">
            <p>{{ quote.quote }}</p>
            <cite>
                {{ quote.kitty }}
            </cite>
        </div>
    </div>
</li>